<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="helloWorld" class="pl.klimas7.spring.core.xml.HelloWorld"/>

    <!-- Set value by properties -->
    <bean id="helloWorldSetter" class="pl.klimas7.spring.core.xml.HelloWorld">
        <property name="message" value="Hello Sii People!!"/>
    </bean>

    <!-- Set value as constructor -->
    <bean id="helloWordConstructor" class="pl.klimas7.spring.core.xml.HelloWorld">
        <constructor-arg value="Hello Sii People !! from constructor" index="1"/>
        <constructor-arg value="Hello Sii People !! from constructor m2" index="0"/>
    </bean>

    <bean id="lazyWorker" class="pl.klimas7.spring.core.xml.LazyWorker" scope="prototype" />
    <bean id="hardWorker" class="pl.klimas7.spring.core.xml.HardWorker" scope="singleton" /> <!-- scope="singleton" -->
    <bean id="bestWorker" class="pl.klimas7.spring.core.xml.HardWorker"/>

    <bean id="factory" class="pl.klimas7.spring.core.xml.Factory">
        <property name="workers">
            <list>
                <ref bean="hardWorker"/>
                <ref bean="lazyWorker"/>
                <ref bean="lazyWorker"/>
                <ref bean="hardWorker"/>
                <null/>
            </list>
        </property>
        <property name="bestWorker" ref="bestWorker"/>
        <property name="theMostLazyWorker" ref="lazyWorker"/>
    </bean>
</beans>